C:/Users/salfr/OneDrive/Desktop/STF-0/!-GGS/0-Archive/
C:/Users/salfr/OneDrive/Desktop/STF-0/!-GGS/0-Extra/
C:/Users/salfr/OneDrive/Desktop/STF-0/!-GGS/NOAA_RTOFS_binary/
C:/Users/salfr/OneDrive/Desktop/STF-0/!-GGS/NOAA_RTOFS_repository/
C:/Users/salfr/OneDrive/Desktop/STF-0/!-GGS/rtofs.*/