__ARCHIVE__/

0-Deliverables/
0-Demo/
0-Resources/
0-Thesis/

GGS_AutomationScripts/__pycache__/
GGS_AutomationScripts/data/

GGS_executable/

GGS_Scripts/__pycache__/
GGS_Scripts/data/
GGS_Scripts/GGS_test.ipynb

X_Development/

!-GGS.code-workspace